<div id=mainEducationText>
    <div id ="textEducationPic" class="educate-content">
        <h2 class="foundingsHeader">Education</h2>
        <p>In India, 1 out of every 8 students (12.6%) enrolled in a school is unable to continue their study due to number of reasons. One of the reasons is the lack of quality education, which leads to a loss of interest in the study. However, education is one of the most significant tools for motivating the next generation on climate action.</p>
        <p>Unless we provide proper and quality education, our sustainable target will not be possible. Our initiatives strive to inspire the students to take care of the planet, acquire sustainability consciousness knowledge, skills and values, and to adopt them in their own lives in order to live sustainably.</p>
        <p>For this, we have launched many projects, including a sustainability consciousness class and Green Chintan. We have arranged weekly classes for schoolchildren as part of the sustainability consciousness initiative. This curriculum includes green literacy courses, interactive sessions, and hands-on projects to inculcate a love of nature in their creative minds. These projects are designed in such a way that would assist students in developing their mental wellbeing, inclusivity, gender, and eco-conciousness.</p>
        <p>Our members visited to Disha Seema Centre School, which is located on the IIT Kharagpur campus and is headed by Ms. Hansa Nandy. This residential school mostly caters underprivileged and tribal kids from neighbouring villages.</p>
    </div>
    <div class="educate-content">
        <img class="storyImg" alt="foundings picture 1" src="assets/Education.PNG">
    </div>
</div>
