<div class="footerPage col-sm-12">
<div class ="col-sm-6 footerName">
    <h1 class="white-color">Vision Prabhaho</h1>
    <p class="white-color">Address:</p>
    <p class="white-color" style="line-height: 0;">4/3K/246 Ho-Chi-Minh Sarani, Sarsuna</p>
    <p class="white-color">Kolkata - 700061</p>
    <a id="mailId" href="mailTo:vision.prabaho@gmail.com">Email: vision.prabaho@gmail.com</a>
</div>
<div class ="col-sm-6 footerLogo">
<a href="#" class="fa fa-facebook white-color" href="https://www.facebook.com/visionprabaho/"></a>
<a href="#" class="fa fa-twitter white-color" href="https://twitter.com/VPrabaho?t=OuXdDlaUf9po-tLqBaEWfg&s=09"></a>
<a href="#" class="fa fa-youtube white-color" href="https://youtube.com/channel/UC60VMQIFbD6zjzEMQ1osj0g"></a>
<a href="#" class="fa fa-instagram white-color" href ="https://www.instagram.com/visionprabaho"></a>
</div>
</div>
