<div class="footerPage col-sm-12">
<div class ="col-sm-6 footerName">
    <h1>Vision Prabhaho</h1>
    <p>Address:</p>
    <p>4/3K/246 Ho-Chi-Minh Sarani, Sarsuna</p>
    <p>Kolkata - 700061</p>
    <a id="mailId" href="mailTo:vision.prabaho@gmail.com">Email: vision.prabaho@gmail.com</a>
</div>
<div class ="col-sm-6 footerLogo">
<a href="#" class="fa fa-facebook" href="https://www.facebook.com/visionprabaho/"></a>
<a href="#" class="fa fa-twitter" href="https://twitter.com/VPrabaho?t=OuXdDlaUf9po-tLqBaEWfg&s=09"></a>
<a href="#" class="fa fa-youtube" href="https://youtube.com/channel/UC60VMQIFbD6zjzEMQ1osj0g"></a>
<a href="#" class="fa fa-instagram" href ="https://www.instagram.com/visionprabaho"></a>
</div>
</div>
