<div id=mainEmpowermentText>
    <div id ="textEmpowermentPic" class="empower-content">
        <h2 class="foundingsHeader">Empowerment</h2>
        <p>Empowering marginalised communities, particularly women, is essential to alleviating poverty. It is impossible to achieve sustained and complete development unless economic strength is realized. Other components of sustainability are heavily reliant on the family's financial health. As a response, we are attempting to uplift the marginalized population by offering eco-friendly skill development programmes, training sessions, small entrepreneurship expertise, and facilitating partnerships. Our latest 'Vision Mangrove' initiative, which aims to empower women, explores additional earning options for the villagers.</p>
    </div>
    <div class="empower-content">
        <img class="storyImg" alt="foundings picture 1" src="assets/Empowerment.PNG">
    </div>
</div>
