.foundingsHeader{
    text-align: left;
    color:#00203FFF;
}
#mainEmpowermentText{
    color:#00203FFF;
    background-color: #fff;
    margin: 3% 5%;
    text-align: left;
    font-family: "Alegreya";
    font-size: 18px;
    display: inline-flex;
}
.empower-content{
    flex-grow: 1;
}
.storyImg{
    width: 100%;
    padding: 16px;
    padding-right: 20%;
}
#textEmpowermentPic{
    padding: 0 7%; 
}