<div class=mainEmpowermentText>
    <div class="empower-content textEmpowermentPic">
        <h2 class="foundingsHeader">Empowerment</h2>
        <br>
        <p>Empowering marginalised communities, particularly women, is essential to alleviating poverty. It is
            impossible to achieve sustained and complete development unless economic strength is realized. Other
            components of sustainability are heavily reliant on the family's financial health.
        </p>
    </div>
    <div class="empower-content">
        <div id="myCarousel3" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="myCarousel3" data-slide-to="0" class="active"></li>
                <li data-target="myCarousel3" data-slide-to="1"></li>
                <li data-target="myCarousel3" data-slide-to="2"></li>
                <li data-target="myCarousel3" data-slide-to="3"></li>
                <li data-target="myCarousel3" data-slide-to="4"></li>
                <li data-target="myCarousel3" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="rotate-img" alt="Empowerment picture 1" src="assets/Empowerment_pic/H 1.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Empowerment picture 2" src="assets/Empowerment_pic/H 2.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Empowerment picture 3" src="assets/Empowerment_pic/I.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Empowerment picture 4" src="assets/Empowerment_pic/M 1.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Empowerment picture 5" src="assets/Empowerment_pic/M 2.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Empowerment picture 6" src="assets/Empowerment_pic/X 1.PNG">
                </div>
                <a class="left carousel-control" href="#myCarousel3" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="right carousel-control" href="#myCarousel3" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="mainEmpowermentText">
    <div class="empower-content">
        <div id="myCarousel4" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="myCarousel4" data-slide-to="0" class="active"></li>
                <li data-target="myCarousel4" data-slide-to="1"></li>
                <li data-target="myCarousel4" data-slide-to="2"></li>
                <li data-target="myCarousel4" data-slide-to="3"></li>
                <li data-target="myCarousel4" data-slide-to="4"></li>
                <li data-target="myCarousel4" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="rotate-img" alt="Empowerment picture 7" src="assets/Empowerment_pic/X 2.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Empowerment picture 8" src="assets/Empowerment_pic/X 3.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Empowerment picture 9" src="assets/Empowerment_pic/X 4.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Empowerment picture 10" src="assets/Empowerment_pic/Y 1.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Empowerment picture 11" src="assets/Empowerment_pic/Y 2.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Empowerment picture 12" src="assets/Empowerment_pic/Y 3.PNG">
                </div>
                <a class="left carousel-control" href="#myCarousel4" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="right carousel-control" href="#myCarousel4" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="empower-content textEmpowermentPicReverse">
        <p> As a response, we are
            attempting to uplift the marginalized population by offering eco-friendly skill development programmes,
            training sessions, small entrepreneurship expertise, and facilitating partnerships. Our latest 'Vision
            Mangrove' initiative, which aims to empower women, explores additional earning options for the villagers.
        </p>
    </div>
</div>