<div class="content">
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Business Standard News-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        A students' group at IIT Kharagpur has uploaded videos on social
media explaining the WHO guidelines on the precautions to be
taken to contain the spread of the coronavirus in 12 Indian
languages for people to clearly understand the advisory.
  
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/Business_Standard_News.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Covid review-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        COVID-19 has brought the world to a standstill. With cases surging over 1200 infected and
deaths crossing 30, by March 31, reports are coming in for India preparing for stage-III of the
pandemic.
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/covid_review.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Deccan Herald-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        A students' group at IIT Kharagpur has uploaded videos on social media explaining the WHO
guidelines on the precautions to be taken to contain the spread of the coronavirus in 12 Indian
languages for people to clearly understand the advisory.
  
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/Deccan_Herald.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Edexlive-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        Vision Prabaho, a students' group known for its environmental
activities on the institutes campus, has uploaded videos on the
World Health Organisation (WHO) guidelines in Assamese, Bengali,
Gujarati, Hindi, Kannada, Kashmiri, Malayalam, Marathi, Odia,
Punjabi, Tamil and Telugu, a member of the organisation said on
Wednesday.
  
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/Edexlive.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Education News The Indian Express-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        “Regional languages will make the advisory reach even the remotest part of the
country and avoid misinformation,” Biswaroop Mondal, a member of the group
said.
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/Education_News_The Indian_Express.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        EducationWorld-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        The efforts of the 20-member group have been lauded by
Minister of State for Human Resource Development Sanjay
Dhotre in a social media post.
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/EducationWorld.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        IIT council News-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        A team of 40 IIT Delhi students has devised a way to fight air pollution - by replacing wood with cow 
dung "logs" during funerals
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/IIT_council_News.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        NDTV NEWS-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        A
students' group at
IIT Kharagpur has
uploaded videos
on social media
explaining the
WHO guidelines on
the precautions to
be taken to contain
the spread of the
coronavirus in 12
Indian languages
for people to
clearly understand
the advisory.
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/NDTV_NEWS.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        NEWS 18-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
      
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        Vision Prabaho, a students'' group known for its environmental activities on the institutes campus, has uploaded videos on
the World Health Organisation (WHO) guidelines in Assamese, Bengali, Gujarati, Hindi, Kannada, Kashmiri, Malayalam,
Marathi, Odia, Punjabi, Tamil and Telugu, a member of the organisation said on Wednesday.
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/NEWS_18.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Telegraph India-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        'Regional languages will make the advisory reach even the remotest part of the country and avoid misinformation'
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/Telegraph_India.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        The Eonomics Times-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        Vision Prabaho, a students' group known for its environmental activities on the
institutes campus, has uploaded videos on the World Health Organisation (WHO)
guidelines in Assamese, Bengali, Gujarati, Hindi, Kannada, Kashmiri, Malayalam, Marathi,
Odia, Punjabi, Tamil and Telugu, a member of the organisation said on Wednesday.

      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/The_Eonomics_Times.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        The Financial Express-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        A students’ group at IIT Kharagpur has uploaded videos on social media
explaining the WHO guidelines on the precautions to be taken to contain the
spread of the coronavirus in 12 Indian languages for people to clearly understand
the advisory
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/The_Financial_Express.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        The RepublicWorld-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        Kharagpur IIT students have uploaded videos on YouTube
explaining the WHO guidelines on the precautions to be
taken in 12 different languages, as per reports.

      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/The_RepublicWorld.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        TimesNow Education News-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        IIT Kharagpur has released a video in 12 Indian languages for people to clearly understand the WHO guidelines on the
precautions to be taken to contain the spread of the coronavirus
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/TimesNow_Education_News.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Your Story-IIT Kharagpur students makes videos of WHO guidelines in 12 different languages
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23,2022</span>
      </p>
  
      <p class="resource-teaser__description">
        This 20-member students’ group, Vision Prabaho, popular for its environmental activities
across the campus, has uploaded videos on the World Health Organisation (WHO) guidelines
in Assamese, Bengali, Gujarati, Hindi, Kannada, Kashmiri, Malayalam, Marathi, Odia,
Punjabi, Tamil and Telugu.

      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/WHO_guiddelines_COVID19/Your_Story_2.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
  </div>