<div id=mainEnvironmentText>
    <div id ="textEnvirontmentPic" class="environment-content">
        <h2 class="foundingsHeader">Environment</h2>
        <p>Climate change is knocking on our doors, demanding immediate action. Our initiatives enable common people to adopt various eco-friendly attitudes and practices. On the IIT Kharagpur campus, we have enacted a series of awareness campaigns encouraging students to recycle single-use plastic. Aside from that, various seminars, workshops, and panel discussions have been arranged in order to facilitate a positive change in society.</p>
        <p>We believe that a sufficient amount of plantation could mitigate global warming in many folds. As a result, we have engaged in relentless plantation and reforestation efforts from our formation day. We have planted about 10,100 plants, including mangroves, to date. Recently, a mangrove plantation programme is organised in Sundarban area.</p>
        <p>Vision Prabaho is always ready to provide a helping hand to the people affected by disasters. During YAAS cyclone, our volunteer team reaches to the affected and vulnerable area of Ghoramara, Kumirmari to provide immediate assistance. Rations, essentials and hygiene items were distributed as a response to an urgent need.</p>
    </div>
    <div>
        <img class="storyImg" alt="foundings picture 1" src="assets/8.jpg">
    </div>
</div>
