<div class="content">
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Combating COVID - The KGP Chronicle
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23, 2022</span>
      </p>
  
      <p class="resource-teaser__description">
        As the world is battling CoronaVirus, universities suspending their academic and
select other activities, in one corner of Eastern India, the world renowned institute
is giving fillip to the combat against COVID-19.
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/The_KGP_Chronicle/Combating_COVID.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Different strokes - The KGP Chronicle
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23, 2022</span>
      </p>
  
      <p class="resource-teaser__description">
        “No two days are alike, nor even two hours, neither were there ever two leaves of
a tree alike…”
</p>
  
  
      <h4 class="black-color">
        <a href="../../assets/The_KGP_Chronicle/Different_strokes.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Earth Day 2020 e-Celebration - The KGP Chronicle
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23, 2022</span>
      </p>
  
      <p class="resource-teaser__description">
        IIT Kharagpur is organizing the Golden Jubilee Celebration of Earth Day through
an online visual exhibition and competition.
       </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/The_KGP_Chronicle/Earth_Day_2020_e-Celebration.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Earth Day on IIT KGP campus - The KGP Chronicle
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23, 2022</span>
      </p>
  
      <p class="resource-teaser__description">
        Vision Prabaho, the eco-conservation-cum- awareness forum of IIT Kharagpur,
observed Earth Day 2019 with its program for “Un-nailing Trees”. Volunteers of
the group went around the campus armed with pliers to pull out nails, brackets,
iron rods, wires and screws from tree trunks.
  
      </p>
  
  
      <h4 class="black-color">
        <a href=".../../assets/The_KGP_Chronicle/Earth_Day_on_IIT_KGP_campus.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Get COVID Advisory in Your Language - The KGP Chronicle
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23, 2022</span>
      </p>
  
      <p class="resource-teaser__description">
        As the world is battling CoronaVirus, IIT Kharagpur is exhibiting its unique
creative energy and cautious optimism at this crucial time, demanding our
endurance and responsible behaviour.
      </p>
  
  
      <h4 class="black-color">
        <a href=".../../assets/The_KGP_Chronicle/Get_COVID_Advisory_in_Your_Language.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Say No to Single-Use Plastic - The KGP Chronicle
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23, 2022</span>
      </p>
  
      <p class="resource-teaser__description">
        About 30 students at IIT KGP have taken up the task of reducing single-use plastic
usage in the campus. The students are in the process of forming a students’ society
which among other environmental issues will extensively work towards creating
social awareness in collecting and disposing of plastic waste including e-waste.
      </p>
  
  
      <h4 class="black-color">
        <a href=".../../assets/The_KGP_Chronicle/Say_No_to_Single-Use_Plastic.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Planting the seeds of change - The KGP Chronicle
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23, 2022</span>
      </p>
  
      <p class="resource-teaser__description">
        “Be the change you wish to see in the world.”
These prophetic words of Mahatma Gandhi aptly sum up the deliberations on the
World Environment Day on June 5 at IIT Kharagpur.
      </p>
  
  
      <h4 class="black-color">
        <a href=".../../assets/The_KGP_Chronicle/Planting_the_seeds_of_change.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Towards a Greener, Cleaner World - The KGP Chronicle
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23, 2022</span>
      </p>
  
      <p class="resource-teaser__description">
        Closer home, Vision Prabaho, a team of green evangelists of IIT Kharagpur, is making an effort in their little way
to promote climate consciousness in
and around the campus.
      </p>
  
  
      <h4 class="black-color">
        <a href=".../../assets/The_KGP_Chronicle/Towards_a_Greener_Cleaner_World.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        The KGP Chronicle
      </h3>
      
      <p class="resource-teaser__author">
        <span>January 23, 2022</span>
      </p>
  
      <p class="resource-teaser__description">
        The students have led by example not using single-use plastic for over 4 months and inspiring other
students in the campus to follow
the feat. 
      </p>
  
  
      <h4 class="black-color">
        <a href=".../../assets/The_KGP_Chronicle/The_KGP_Chronicle.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        The Impact We Made - The KGP Chronicle
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23, 2022</span>
      </p>
  
      <p class="resource-teaser__description">
        In the launch edition of Times Higher Education University Impact Rankings, IIT
Kharagpur has been ranked as the best performing institution from India.
      </p>
  
  
      <h4 class="black-color">
        <a href=".../../assets/The_KGP_Chronicle/The_Impact_We_Made.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        The Greenery and the Glory - The KGP Chronicle
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23, 2022</span>
      </p>
  
      <p class="resource-teaser__description">
        Pavel Karmanov, a Russian M.Sc. student of Geology and Geophysics at IIT Kharagpur, says that he wanders around among the
campus greenery whenever he has time. He crosses his heart to swear how amazed he is by the verdure surrounding him. Given
that Pavel hails from East Siberia, it is perhaps not surprising that he is quite taken in by IIT Kharagpur’s lush green surroundings.
      </p>
  
  
      <h4 class="black-color">
        <a href=".../../assets/The_KGP_Chronicle/The_Greenery_and_the_Glory.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
  </div>