<div class="resource-page">
  <div class="groupPic">
    <div class="grid">
      <div class="item" style="background-image: url(assets/resources/the_Telegraph.jpg)"></div>

      <div class="item" style="background-image: url(assets/resources/Ei_somoy.jpg)"></div>

      <div class="item" style="background-image: url(assets/resources/Anandabazar.jpg)"></div>

      <div class="item" style="background-image: url(assets/resources/The_Indian_Express_print.jpg)"></div>
    </div>
  </div>
  <div class="resource-comtent text-style">
    PRAYUKTI is a platform for interaction with prominent personalities from various disciplines. It aims to be inspired
    and enhanced by the remarkable life experiences of the great minds.
    <br>
    <br>
    We have participated to India's fight against COVID19 by making available WHO precautionary measures to combat virus
    spread at the beginning of the pandemic. These videos have been translated into 15 regional languages, making
    communication possible even in the most remote parts of the world while avoiding misrepresentation.
    <br>
    <br>
    We are glad to have received appreciation from Shri Sanjay Dhotre, former Minister of State for Human Resource
    Development, Communications and Electronics and Information Technology, for our initiative to sensitize the common
    people about COVID19.
    <br>
    <br>
    VISION MANGROVE is our current attempt to preserve the Sundarban mangrove forest while focusing on the socioeconomic
    development of these communities. We have already planted 10,000 saplings in some of Sundarban's most remote spots,
    with the participation of the villagers.
  </div>
  <div class="categories">
    <div class="impact-centers">
      <a href="#" routerLink="/plasticfree" id="plastic_free" class="impact-details">
        <img width="566" style="margin:auto;" src="assets/resources/Slide1.PNG"
          alt="1ST picture">
        <div style="margin:2% 0 0 0">
          <div class="impact-text blue-color">Our Mission to minimize single use plastics at IIT Kharagpur campus</div>
        </div>
      </a>
      <a href="#" routerLink="/workEqualityDetails" id="equality" class="impact-details">
        <img width="566" style="margin:auto;" src="assets/resources/Slide2.PNG" alt="1ST picture">
        <div style="margin:2% 0 0 0">
          <div class="impact-text blue-color">Making the trees nail free</div>
        </div>
      </a>
    </div>
    <div class="impact-centers">
      <a href="#" routerLink="/workEmpowermentDetails" id="empowerment" class="impact-details">
        <img width="566" style="margin:auto;" src="assets/resources/Slide3.PNG" alt="1ST picture">
        <div style="margin:2% 0 0 0">
          <div class="impact-text blue-color">Restore the green shield by Mangrove plantation in Sundarbans</div>
        </div>
      </a>
      <a href="#" routerLink="/kgpChronical" id="environment" class="impact-details">
        <img width="566" style="margin:auto;" src="assets/resources/Slide4.PNG" alt="1ST picture">
        <div style="margin:2% 0 0 0">
          <div class="impact-text blue-color">Various initiatives inside the IIT Kharagpur campus</div>
        </div>
      </a>
    </div>
    <div class="impact-centers">
      <a href="#" routerLink="/whoGuideline" id="environment" class="impact-details">
        <img width="566" style="margin:auto;" src="assets/resources/Slide5.PNG" alt="1ST picture">
        <div style="margin:2% 0 0 0">
          <div class="impact-text blue-color">Multilingual translation of WHO guidelines on COVID19</div>
        </div>
      </a>
      <a href="#" routerLink="/workEnvirontmentDetails" id="environment" class="impact-details">
        <img width="566" style="margin:auto;" src="assets/resources/Slide6.PNG" alt="1ST picture">
        <div style="margin:2% 0 0 0">
          <div class="impact-text blue-color">Highlights of our other activities</div>
        </div>
      </a>
    </div>
  </div>
</div>