.foundingsHeader{
    text-align: left;
    color:#00203FFF;
}
#mainEqualityText{
    color:#00203FFF;
    background-color: #fff;
    margin: 3% 5%;
    text-align: left;
    font-family: "Alegreya";
    font-size: 18px;
    display: inline-flex;
}
.equality-content{
    flex-grow: 1;
}
.storyImg{
    width: 100%;
    padding: 0% 7%;
}
#textEqualityPic{
    padding: 0% 7%; 
    width: 120%;
}

@media screen and (max-width: 1024px){
    #mainEqualityText{
        flex-direction: column;
    }
    #textEqualityPic{
        padding: 0 7%; 
        width: 100%;
    }
    .storyImg{
        padding: 7%;
    }
}