<div id=mainEqualityText>
    <div id ="textEqualityPic" class="equality-content">
        <h2 class="foundingsHeader">Equality</h2>
        <p>The United Nations also recognised the importance of gender equality in sustainable development by designating it a fundamental goal (SDG 5). We envision a society free of discrimination by embracing everyone's individualism and diversity. We have already conducted numerous efforts to reduce/eliminate the gender gap. To sensitize the people on gender issues, menstrual hygiene couple of seminars/workshops was planned in the past time.</p>
    </div>
    <div>
        <img class="storyImg" alt="foundings picture 1" src="assets/8.jpg">
    </div>
</div>
