<div class=mainEqualityText>
    <div class="equality-content textEqualityPic">
        <h2 class="foundingsHeader">Equality</h2>
        <p>The United Nations also recognised the importance of gender equality in sustainable development by designating it a fundamental goal (SDG 5). We envision a society free of discrimination by embracing everyone's individualism and diversity. We have already conducted numerous efforts to reduce/eliminate the gender gap. To sensitize the people on gender issues, menstrual hygiene couple of seminars/workshops was planned in the past time.</p>
    </div>
    <div class="equality-content">
        <div id="myCarousel7" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="myCarousel7" data-slide-to="0" class="active"></li>
                <li data-target="myCarousel7" data-slide-to="1"></li>
                <li data-target="myCarousel7" data-slide-to="2"></li>
                <li data-target="myCarousel7" data-slide-to="3"></li>
                <li data-target="myCarousel7" data-slide-to="4"></li>
                <li data-target="myCarousel7" data-slide-to="5"></li>
                <li data-target="myCarousel7" data-slide-to="6"></li>
                <li data-target="myCarousel7" data-slide-to="7"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="rotate-img" alt="Equality picture 1" src="assets/Equality_pic/B 1.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Equality picture 2" src="assets/Equality_pic/B 2.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Equality picture 3" src="assets/Equality_pic/E 1.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Equality picture 4" src="assets/Equality_pic/E 2.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Equality picture 5" src="assets/Equality_pic/K.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Equality picture 6" src="assets/Equality_pic/N.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Equality picture 7" src="assets/Equality_pic/O.PNG">
                </div>
                <div class="item">
                    <img class="rotate-img" alt="Equality picture 8" src="assets/Equality_pic/R S T U.PNG">
                </div>
                <a class="left carousel-control" href="#myCarousel7" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="right carousel-control" href="#myCarousel7" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
