<div id=mainVisionText>
    <div id ="textVisionPic">
    <div class = "col-sm-6">
        <img class="visionImg" alt="vision picture 1" src="assets/about_1.PNG">
        <img class="visionImg" alt="vision picture 2" src="assets/about_2.PNG">
    </div>
    <div class = "col-sm-6">
        <h2 class="visionHeader">Our Mission</h2>
            <ul>
                <li>To achieve an equitable and sustainable society, target every sustainability sphere: environmental, social, and economical.</li>
                <li>To spread awareness on environmental degradation, climate change, sustainable development, and holistic living among the common masses.</li>
                <li>To promote the practice of Recycle, Reuse, and Reduce.</li>
                <li>To engage the farmers on organic and climate-resilient farming; arrange training programs and interactive sessions with experts to inform them about the adverse effects of using chemical fertilizers and pesticides in the agricultural land.</li>
                <li>To protect and preserve diverse natural resources (e.g., biodiversity).</li>
                <li>To advocate the rights of equal distribution of natural resources among all by sensitizing the common people.</li>
                <li>To promote education for sustainable living in schools: encouraging them to implement organic kitchen garden, waste management, and wastewater treatment.</li>
                <li>To bridge the gap between research and practical implementation by actively collaborating with the research groups for sustainable technological inventions.</li>
                <li>To involve in policy-making for the benefit of the environment and human beings.</li>
                <li>To implement water management, water recycling, rainwater harvesting</li>
                <li>To grow self-consciousness on equality in every aspect among the common masses.</li>
                <li>To establish gender equality empowers women and other marginalized/ deprived communities by making them self-independent through cottage industry, handicrafts, and various sustainable enterprises.</li>
                <li>To organise/ assist other organisations by providing relief to the people affected by flood, earthquake, and other natural calamities or any disaster/crises.</li>
            </ul> 
    </div>
    </div>
    </div>
    <app-foundings></app-foundings>
    