.visionHeader{
    text-align: left;
    color:#00203FFF;
    padding-left: 20px;
}
#mainVisionText{
    color:#00203FFF;
    background-color: #fff;
    margin: 5%;
    text-align: left;
    font-family: "Alegreya";
    font-size: 18px;
}
.visionImg{
    width: 110%;
    padding: 16px;
}
#textVisionPic{
    padding: 5%; 
}
