<div class="impact-style">
    Our Latest Activity
</div>
<div class="impact-centers" style="margin-right: 2%;margin-left: 2%;width:95%">
    <span class="home-content impactContain">
        <img class="image" width="66" style="margin:auto;" alt="Latest Activity picture 1"
            src="assets/LatestActivity/R.jpg">
        <div class="overlayText">
            <div class="text">PRAYUKTI is a platform for interaction with prominent personalities from various
                disciplines.<a routerLink="workEqualityDetails">Read More...</a></div>
        </div>
    </span>
    <span class="home-content impactContain">
        <img width="66" class="image" style="margin:auto;width:240px;" alt="Latest Activity picture 2"
            src="assets/LatestActivity/S.png">
        <div class="overlayText">
            <div class="text">
                VISION MANGROVE is our current attempt to preserve the Sundarban mangrove forest
                while focusing on the socioeconomic development of these communities.<a routerLink="/mangrove">Read More...</a>
            </div>
        </div>
    </span>
    <span class="home-content impactContain">
        <img width="66" class="image" style="margin:auto;width:240px;" alt="Latest Activity picture 3"
            src="assets/LatestActivity/T.jpg">
        <div class="overlayText">
            <div class="text">We are glad to have received appreciation from Shri Sanjay Dhotre, former Minister of
                State
                for Human Resource Development, Communications and Electronics and Information
                Technology.</div>
        </div>
    </span>
    <span class="home-content impactContain">
        <img width="66" class="image" style="margin:auto;width:240px;" alt="Latest Activity picture 4"
            src="assets/LatestActivity/U.png">
        <div class="overlayText">
            <div class="text">
                We have participated to India&#39;s fight against COVID19 by making available WHO
                precautionary measures to combat virus spread at the beginning of the pandemic. These
                videos have been translated into 15 regional languages.
                </div>
        </div>
    </span>
</div>