<div class="impact-style">
    Our Latest Activity
</div>
<div class="impact-centers" style="margin-right: 2%;margin-left: 2%;width:95%">
    <span class="home-content impactContain">
        <img class="image" width="66" style="margin:auto;" alt="Latest Activity picture 1"
            src="assets/LatestActivity/R.jpg">
        <div class="overlayText">
            <div class="text">Online seminar by Sangeet Natok Academi Awardee Smt. Parvathy Baul
                Topic:- “Baul - The Yoga of Compassion”</div>
        </div>
    </span>
    <span class="home-content impactContain">
        <img width="66" class="image" style="margin:auto;width:240px;" alt="Latest Activity picture 2"
            src="assets/LatestActivity/S.png">
        <div class="overlayText">
            <div class="text">Online seminar by PadmaShri Sudarsan Pattnaik
                Topic:- “Raising awareness to mental wellbeing – The role of art during COVID19 outbreak”</div>
        </div>
    </span>
    <span class="home-content impactContain">
        <img width="66" class="image" style="margin:auto;width:240px;" alt="Latest Activity picture 3"
            src="assets/LatestActivity/T.jpg">
        <div class="overlayText">
            <div class="text">Online seminar by film director, Music composer, Singer Anjan Dutt
                Topic:- “Human intervention and environment – learning from COVID19 outbreak”</div>
        </div>
    </span>
    <span class="home-content impactContain">
        <img width="66" class="image" style="margin:auto;width:240px;" alt="Latest Activity picture 4"
            src="assets/LatestActivity/U.png">
        <div class="overlayText">
            <div class="text">
                Online seminar by Dr. Manobi Bandyopadhyay, India's First transgender college Principal
                Topic:- “Journey of achieving Womanhood”</div>
        </div>
    </span>
</div>