<div class="content">
    <article class="resource-teaser">
  
      <h3 class="black-color">
        India Education-IIT Kharagpur Ranked as India’s Best in Times Higher Education Impact Ranking 2019
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23, 2021</span>
      </p>
  
      <p class="resource-teaser__description">
        In the launch edition of Times Higher Education University Impact Rankings, IIT Kharagpur has been ranked as the best performing institution from India.
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/other_things/IIT_Kharagpur_Ranked.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        Education Today News-5 things IIT Kharagpur is doing to raise awareness about the Coronavirus outbreak
      </h3>
  
      <p class="resource-teaser__author">
        <span>January 23, 2021</span>
      </p>
  
      <p class="resource-teaser__description">
        IIT Kharagpur has undertaken a wide range of initiatives to increase public awareness and perceptions regarding the Coronavirus pandemic and check the spread of Covid19 and also create resources to boost preventive actions.
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/other_things/things_IIT_Kharagpur_Education_Today_News.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
  </div>