<div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container heder-center-div">
    <div id="naving-header" class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-example">
        <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img width="46" alt="Organisation Logo" src="assets/Logo_without background.png"/>
      </div>
      <div class="collapse navbar-collapse" id="my-example">
          <nav id="dropdownmenu" class="navbar-right">
             <ul>
	<li class="has-sub">
	     <span class="submenu"></span>
	     <a href="#">Home</a>
	</li>
	<li class="has-sub">
	     <span class="submenu"></span>
	     <a href="#" routerLink="/aboutUS" >About us</a>
	</li>
  <li class="has-sub">
        <span class="submenu"></span>
        <a href="#" >Our work</a>
   </li>
   <li class="has-sub">
    <span class="submenu"></span>
    <a href="#">Resources</a>
  </li>
  <li class="has-sub">
    <span class="submenu"></span>
    <a href="#" routerLink="/getInvolved">Get involved</a>
  </li>
  <li class="has-sub">
    <span class="submenu"></span>
    <a href="#">Contact</a>
  </li>
  <li class="has-sub">
    <span class="submenu"></span>
    <a id ="donate" href="#">Donate</a>
  </li>
   </ul>
   
      </nav>
</div>
</div>
</nav>
</div>
<div>
<router-outlet></router-outlet>
</div>
<div>
<app-footer></app-footer>
</div>