.content{
	display:flex;
	margin:82px auto 32px;
	flex-direction: column;
	align-items: center;
}
.rotate-img{
	width: 100%;
}
.navbar>.container{
	width:100%;
}
#myCarousel{
	width:60%;
}
.heading-spacer{
	width:100%;
	height:3%;
}
#my-example{
	margin-left:10%;
	padding-right: 5%;
}
#naving-header{
	margin:0.5% 1%;
}
#dropdownmenu>ul>li{
	float:left;
	padding: 0 3px;
	margin:0 3px;
}
#dropdownmenu, #dropdownmenu ul, #dropdownmenuul li, #dropdownmenu ul li a{
	border:0;
	list-style:none;
	line-height:1;
	display:block;
	position:relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#dropdownmenu>ul>li>a{
	padding: 10px 10px;
	font-size: 20px;
	text-decoration: none;
	color: #333;
	font-family: "Alegreya";
	text-transform: "inherit";
}
#dropdownmenu  li:hover>ul{
	left: auto;
}
#dropdownmenu  li:hover>ul>li{
	height: 43px;
}
#dropdownmenu  ul ul li.last-item>a, #dropdownmenu  ul ul li:last-child>a{
	border-bottom:0;
}
#dropdownmenu  ul li.active, #dropdownmenu  ul li.active:hover, #dropdownmenu  ul li.has-sub.active:hover, #dropdownmenu>ul>li:hover{
	background: #1cb8a1 !important;
	-webkit-transition: background .3s ease;
	-ms-transition: background .3s ease;
	transition: background .3s ease;
	color: #333;
}
#dropdownmenu ul{
	display: inline-flex !important;
	margin-top: 1%;
}

@media screen and (max-width: 1000px){
	#dropdownmenu .submenu{
		position: absolute;
		z-index: 99;
		right:0;
		top: 0;
		display: block;
		height: 46px;
		width:46px;
		cursor: pointer;
	}
	#dropdownmenu .sub:before{
		position: absolute;
		top: 19px;
		right: 22px;
		display: block;
		width: 2px;
		height: 8px;
		background: #ddd;
		content: ' ';
	}
	#dropdownmenu>ul>li>a{
		padding: 5px 5px;
		font-size: 16px;
	}
	#dropdownmenu ul{
		margin-top: 2%;
	}

}
#donate{
		color: black !important;	
		background: #8cdcda !important;
	}	
#donate:hover{	
		color: red !important;
}
.navbar{
			overflow: hidden;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 1;
}
/*-------------------------new css----------------------*/

.cd-panel{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	visibility:hidden;
	transition:visibility 0s, 0s;
	background: rgba(0,0,0,.54);
	z-index:21;
}

/*.cd-panel:after{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	cursor:pointer;
	background: black;
    opacity: 0.5;
	transition: background .3s .3s;
	z-index:50;
}*/

.cd-panel-header{
	position:fixed;
	width:90%;
	height:auto;
	line-height:50px;
	background-color: #f8f8f8;
	/*background: rgba(255,255,255,.96);*/
	z-index: 2;
	transition: top .3s 0s;
	margin-top: 0!important;
}

.from-left .cd-panel-header{
	top: -50px;
	left:0;
}

.cd-panel.is-visible{
	visibility:visible;
	transition: left .3s ease-in-out;
}

.from-left .cd-panel-container{
	left:0;
	transform: translate3d(-100%,0,0);
}
.cd-panel-close>i
{
	color: black;
    font-size: 27px;
    float: right;
    padding: 2% 3%;
}
	.cd-panel-container{
	position:fixed;
	width:90%;
	height:100%;
	top:0;
	background:#fff;
	z-index:1;
	transition-property: transform;
	transition-duration: .3s;
	transition-delay: .3s;
	padding-top: 50px;
}

nav{
	position: relative;
	margin: 0 auto;
}

.mainNav ul{
	margin: 0;
	padding: 0;
	list-style:none;
}

.mainNav ul li{
	border-top: 1px solid #eaeaea;
}

.mainNav ul li a{
	color:#000;
	display:block;
	font-size: 14px;
	line-height:normal;
	padding:12px 20px;
	text-decoration: none;
	letter-spacing: 1px;
}

ul li.has-subnav .accordion-btn{
	color:#636363;
	font-size: 16px;
	border-left: 1px solid #eaeaea;

}

ul li.has-subnav .accordion-btn i{
	color: #000!important;
}

.is-visible .cd-panel-header{
	top:0;
	transition: top .3s .3s;
}

.is-visible .cd-panel-container{
	transform: translate3d(0,0,0);
	transition-delay: 0s;
	padding-top:70px;
}

.cd-main-content{
	display:none;
}

.cd-main-content .cd-btn{
	position:relative;
	display:none;
	padding: 10px;
	font-size: 20px;
	color: #000;
	font-weight: 700;
}

@media only screen and (max-width: 815px){
	.is-visible .cd-panel-container{
		padding-top: 50px;
	}
	.navbar-default .navbar-toggle{
		display: none!important;
	}
	.navbar>.container .navbar-brand, .navbar>container-fluid .navbar-brand{
		display: none !important;
	}

	.navbar{
		display: none !important;
	}
	
	.cd-main-content{
		display: block;
		background-color: #f8f8f8;
    	border-color: #e7e7e7;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}
	.cd-main-content .cd-btn{
		display: block;
		top: 0!important;
		position:absolute;
		margin: 0px 0 0 14%;
	}
	#OrgLogo{
		padding-left:5%;
	}
}

@media only screen and (max-width: 736px){
	.mainNav ul li a{
		color:#000;
		display:block;
		font-size: 14px;
		line-height: normal;
		padding: 10px 20px;
	}
} 

@media only screen and (max-width: 700px){
	.mainNav{
		width: 100%;
	}
}

#carousel-styling{
    margin-top: 3.5%;
}

@media only screen and (max-height: 670px){
    #carousel-styling{
        margin-top: 4.5%;
    }
}

@media only screen and (max-width: 384px){
	body{
		font-size: 12px !important;
	}
}