<div class="content">
  <article class="resource-teaser">

    <h3 class="black-color">
      Business Standard-IIT KGP students on mission mode to reduce plastics in campus
    </h3>

    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      A group of students at the IIT Kharagpur is on a mission mode to reduce usage of single-use plastic within the
      campus.The students, numbering around 30, are in the process of forming
      a students society which will tackle environmental issues and work
      towards creating awareness in collecting and disposing plastic
      waste, including e-waste, an IIT Kharagpur statement said
      Wednesday.

    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/business_standard.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
  <article class="resource-teaser">

    <h3 class="black-color">
      Ganasakti-IIT KGP students on mission mode to reduce plastics in campus
    </h3>

    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      The students' society, named 'Vision Prabaho', will beundertaking projects to come up with innovative ways
      oforganic, inorganic
      and electronic waste disposal.
      The group has also performed street plays in the campusmarket as part of the awareness campaign.
    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/Ganasakti.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
  <article class="resource-teaser">

    <h3 class="black-color">
      Inergystat-IIT Kharagpur students on mission mode to reduce plastics in campus
    </h3>

    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      The students are themselves not using single-use plastic for over four months and now wanted to inspire other students in the
campus to follow their example, it said. Over 500 students have shown interest in joining the society and taken up the cause, the
statement said.

    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/inergystat.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
  <article class="resource-teaser">

    <h3 class="black-color">
      NDTV-IIT Kharagpur students on mission mode to reduce plastics in campus
    </h3>

    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      Over 500 students have shown interest in joining the society and taken up the cause, the
statement said.

    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/NDTV.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
  <article class="resource-teaser">

    <h3 class="black-color">
      News Bytes-IIT Kharagpur students on mission mode to reduce plastics in campus
    </h3>

    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      The group has also performed street plays in the campus market as part of the awareness campaign.
    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/news_bytes.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
  <article class="resource-teaser">

    <h3 class="black-color">
      Onlyforeducation-IIT Kharagpur students on mission mode to reduce plastics in campus
    </h3>

    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      The students’ society, named ‘Vision Prabaho’, will be undertaking projects to come up with
      innovative ways of organic, inorganic and electronic waste disposal
    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/Onlyforeducation.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
  <article class="resource-teaser">

    <h3 class="black-color">
      Swachhindia NDTV-IIT Kharagpur students on mission mode to reduce plastics in campus
    </h3>

    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      The students’ society, named ‘Vision Prabaho’, will be undertaking projects to come up with
      innovative ways of organic, inorganic and electronic waste disposal
    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/Swachhindia_NDTV.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
  <article class="resource-teaser">

    <h3 class="black-color">
      Telegraph Epaper-IIT Kharagpur students on mission mode to reduce plastics in campus
    </h3>

    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      Thirty students of IIT Kharagpur have shunned plastic bags in favour of cotton,jute or paper ones on trips to the market to buy fish or vegetable
    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/Telegraph_e_paper.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
  <article class="resource-teaser">

    <h3 class="black-color">
      Telegraph Print-IIT Kharagpur students on mission mode to reduce plastics in campus
    </h3>
	
    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      Thirty students of IIT Kharagpur have shunned plastic bags in favour of cotton,jute or paper ones on trips to the market to buy fish or vegetable
    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/Telegraph_print.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
  <article class="resource-teaser">

    <h3 class="black-color">
      The Indian Express e paper-IIT Kharagpur students on mission mode to reduce plastics in campus
    </h3>

    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      Segregation of waste is one issue and another is disposing the waste or reusing it.
    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/The_Indian_Express_e_paper.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
  <article class="resource-teaser">

    <h3 class="black-color">
      The Indian Express Print-IIT Kharagpur students on mission mode to reduce plastics in campus
    </h3>

    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      Thirty students of IIT Kharagpur have shunned plastic bags in favour of cotton,jute or paper ones on trips to the market to buy fish or vegetable
    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/The_Indian_Express_print.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
  <article class="resource-teaser">

    <h3 class="black-color">
      The Week-IIT Kharagpur students on mission mode to reduce plastics in campus
    </h3>

    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      The group has also performed street plays in the campus market as part of the awareness campaign.
    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/The_Week.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
  <article class="resource-teaser">

    <h3 class="black-color">
      The Indian Express(2)-IIT Kharagpur students on mission mode to reduce plastics in campus
    </h3>

    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      The group has also performed street plays in the campus market as part of the awareness campaign.
    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/The_Indian_Express_2.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
  <article class="resource-teaser">

    <h3 class="black-color">
      The Echo of India-IIT Kharagpur students on mission mode to reduce plastics in campus
    </h3>

    <p class="resource-teaser__author">
      <span>October 24, 2018</span>
    </p>

    <p class="resource-teaser__description">
      The group has also performed street plays in the campus market as part of the awareness campaign.
    </p>


    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/The_Echo_of_India.pdf" target="blank">
        <span class="black-color">View resource</span>
      </a>
    </h4>
  </article>
</div>