<div class="content">
    <article class="resource-teaser">
           
    <a class="resource-teaser__large-anchor" href="../../assets/Plasticfree/pdf/business_standard.pdf" target="blank">
      <h3 class="black-color">
        Business Standard-IIT KGP students on mission mode to reduce plastics in campus
      </h3>
  
      <p class="resource-teaser__author">
              <span>October 24, 2018</span>
      </p>
  
            <p class="resource-teaser__description">
                A group of students at the IIT Kharagpur is on a mission mode to reduce usage of single-use plastic within the campus.The students, numbering around 30, are in the process of forming
                a students society which will tackle environmental issues and work
                towards creating awareness in collecting and disposing plastic
                waste, including e-waste, an IIT Kharagpur statement said
                Wednesday.
                
        </p>
        </a>
  
    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/business_standard.pdf" target="blank">
        <span class="black-color">View resource</span>
            </a>
    </h4>
  </article>
  <article class="resource-teaser">
           
    <a class="resource-teaser__large-anchor" href="../../assets/Plasticfree/pdf/Ganasakti.pdf" target="blank">
      <h3 class="black-color">
        Ganasakti-IIT KGP students on mission mode to reduce plastics in campus
      </h3>
  
      <p class="resource-teaser__author">
        <span>October 24, 2018</span>
      </p>
  
            <p class="resource-teaser__description">
              The students' society, named 'Vision Prabaho', will beundertaking projects to come up with innovative ways oforganic, inorganic
              and electronic waste disposal.
              The group has also performed street plays in the campusmarket as part of the awareness campaign.
        </p>
        </a>
  
    <h4 class="black-color">
      <a href="../../assets/Plasticfree/pdf/Ganasakti.pdf">
        <span class="black-color">View resource</span>
            </a>
    </h4>
  </article>
</div>
