<div id=mainFoundingsText>
    
    <div id ="textPic">
        <div class = "col-sm-6">
        <h2 class="foundingsHeader">Values</h2>
        <p>Inclusivity; Integrity; Transparency; Accountability; Empathy; Teamwork</p>
        <h2 class="foundingsHeader">Logo</h2>
        <p>Our logo depicts a leaf with a branch and water streams, which embodies our vision of 'flowing towards sustainability. The leaf represents nature, and the green color signifies the organization's eco-friendly, dynamic, and youthfulness. The blue streams connote the sense of the flow of nature and life, which corresponds to the name 'Prabaho'. The two streams symbolize the coexistence of nature and humans as well as aligning ourselves with nature. The logo is crafted by combining all the parts to form the initial Bengali letter of the word 'Prabaho' which means flow in Sanskrit, Bengali, and Hindi.</p>
        <h2 class="foundingsHeader">Founding story</h2>
        <p>'The Sun is always shining. We have oxygen, trees, birds. There's so much good things on Earth, still. We have not destroyed everything.'- Ziggy Marley. No, it is not gone already. Yes, we still have many reasons to hope. We can change and make earth a better place for all life force with a little more effort.
            Our journey starts with meeting Mr. Tarak Chandra Paul, a commoner, and an environmentalist, with an exceptional dream towards green. We then invited him to our IIT Kharagpur campus. His purposeful experience and further encouragement from our supporter Mrs. Barnali chakraborty, helped us shape our idea of establishing 'Vision Prabaho'.
            Vision Prabaho is a social and environmental activist group purposed for the betterment of the planet and people.</p>
        </div>
    </div>
    <div class = "col-sm-6">
        <img class="storyImg" alt="foundings picture 1" src="assets/8.jpg">
        <img class="storyImg" alt="foundings picture 1" src="assets/DSC_0345.JPG">
    </div>
</div>