.foundingsHeader{
    text-align: left;
    color:#00203FFF;
}
#mainFoundingsText{
    color: #006344;
    background-color: #fff;
    margin: 5%;
    text-align: left;
    font-family: "Open Sans";
    font-size: 18px;
}
.storyImg{
    width: 120%;
    padding: 16px;
    padding-right: 20%;
}
#textPic{
    padding: 7%; 
}
.visionText{
    color:#00203FFF;
}
