<div class="content">
    <article class="resource-teaser">
  
      <h3 class="black-color">
        IdealNews-Un-nailing of trees on Earth Day
  
      </h3>
  
      <p class="resource-teaser__author">
        <span>April 25, 2019</span>
      </p>
  
      <p class="resource-teaser__description">
        Vision Prabaho, the eco-conservation-cum- awareness forum of Indian
  Institute of Technology Kharagpur, observed
  Earth Day on Monday with its program for “Un-nailing Trees.
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/un_nailing_trees/Un-nailing_of_trees_IdealNews.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
    <article class="resource-teaser">
  
      <h3 class="black-color">
        The Times of India-Un-nailing of trees on Earth Day
      </h3>
  
      <p class="resource-teaser__author">
        <span>April 25, 2019</span>
      </p>
  
      <p class="resource-teaser__description">
        Volunteers of the group went
  around the campus armed with pliers to pull out nails, brackets, iron rods,
  wires and screws from tree trunks.
      </p>
  
  
      <h4 class="black-color">
        <a href="../../assets/un_nailing_trees/Un-nailing_of_trees_Times of India.pdf" target="blank">
          <span class="black-color">View resource</span>
        </a>
      </h4>
    </article>
  </div>