.homeHeader{
    text-align: center;
    color:#00203FFF;
}
#mainHomeText{
    color: #006344;
    background-color: #fff;
    margin: 5rem;
    text-align: left;
    font-family: "Open Sans";
    font-size: 18px;
}
