<div id=mainHomeText>
<h2 class="homeHeader">About Our Story</h2>

<div id ="textPic">
<div class = "col-sm-6">
<p>“The best way to find yourself is to lose yourself in the service of others” – Mahatma Gandhi</p>
<br>
<p>Inspired by this ethos, we engage towards achieving an equitable and sustainable. The irreversible effects of climate change pose a significant threat to all of us due to our uncontrolled exploitation and human-induced destruction of natural resources.
</p>
<br>
<p>
    Environmental degradation-based causes are responsible for 24% of the global deaths, which includes 28% of mortality for children under the age of five. Thus, immediate action from all the stakeholders is required to restore the human well-being ecosystem. We, Vision Prabaho, are working to attain an equitable and sustainable society, targeting each aspect of sustainability: i.e., environmental, social, and economical. However, a common misconception arises every time we talk about sustainability: economic progress and environmental protection can not go hand in hand. In reality, a tread-off must be maintained between the three aspects of sustainability. Our goals towards the synergy include embracing education, empowerment, and equality to make our &quot;ONLY HOME&quot;  healthier and adaptively resilient.
</p>
</div>
<div class = "col-sm-6">
    <img class="storyImg" alt="home picture 1" src="assets/1.jpg">
    <img class="storyImg" alt="home picture 2" src="assets/2.png">
</div>
</div>
</div>
