
.homeHeader{
    text-align: center;
    color:#00203FFF;
    font-family: 'Eczar', serif;
}
#mainHomeText{
    color: #00203FFF;
    background-color: #fff;
    text-align: left;
    font-family: "Alegreya";
    font-size: 18px;
}
.storyImg{
    width: 120%;
    padding: 16px;
    padding-right: 20%;
}
#textPic{
    padding: 7%; 
    display: inline-flex;
}
.visionText{
    color:#00203FFF;
    font-family: 'Eczar', serif;
}
.carousel-inner>.item>img{
    width: 100%;
}
.carousel-caption{
    text-align: right;
}
button {
    border-radius: 10px;
    font-size: 20px;
    color:red;
    background-color: white;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
}
button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -25px;
    transition: 0.5s;
}
  
button:hover span {
    padding-right: 25px;
    

}
button:hover span:after {
    opacity: 1;
    right: 0;
}
.coverText{
    color: #00203FFF;
    font-size: 28px;
    text-align: right;
    padding: 10px;
}
.carousel-caption{
    padding-bottom: 0px;
}

.impact-style{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    background-color: #e7e7e7;
    margin: 0 0 3% 0;
}

.impact-centers{
    display: inline-flex;
    background-color: #b1d877;
    margin: 0 0 3% 0;
    width:100%;
}
.impact-details{
    flex-grow: 1;
    text-align: center;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;
    margin: 5% 0;
}
.impact-text{
    font-size: 24px;
    line-height: 1.4em;
    text-align: center;
    
}

.white-color{
    color: #FFFFFF;
}

@media only screen and (max-width: 768px){
    .impact-text{
        font-size: 18px;
    }


@media only screen and (max-width: 700px){
button{
    font-size: 10px;
    padding: 4px;
    background-color: red;
    color: white;
    border-radius:20px;
}
}