
.homeHeader{
    text-align: center;
    color:#00203FFF;
    font-family: 'Eczar', serif;
    font-size: 40px;
    font-style: italic;
    background-color: #e7e7e7;
    margin: 3% 0 3% 0;
}
.mainHomeTextStyle{
    color: #00203FFF;
    background-color: #fff;
    text-align: justify;
    font-family: "Alegreya";
    font-size: 18px;
    margin: 3% 5%;
    display: inline-flex;
}
.mainPatronTextStyle{
    color: #00203FFF;
    background-color: #fff;
    text-align: justify;
    font-family: "Alegreya";
    font-size: 18px;
    margin: 3% 5%;
    display: inline-flex;
    height: 400px;
}
.home-content{
    flex-grow: 1;
}
.foundingsHeader{
    text-align: left;
    color:#00203FFF;
}
.storyImg{
    width: 100%;
    padding: 7% 7% 0% 7%;
}
#myCarouselMentor{
    width: 100%;
}
#myCarouselMentor>ol.carousel-indicators {
    display:inline-flex;
    justify-content: center;
  }
  
  #myCarouselMentor>ol.carousel-indicators li,
  #myCarouselMentor>ol.carousel-indicators li.active {
    width: 13%;
    height: 4px;
    margin:0 2%;
    border-radius: 0;
    border: 0;
    background: rgba(0,0,0,.5);
  }
  
  #myCarouselMentor>ol.carousel-indicators li.active {
    background: #b1d877;
  }
#textPic{
    padding: 0% 7%; 
    width: 120%;
}
.textMentorPicStyle{
    padding: 0% 7%; 
    width: 120%;
}
.visionText{
    color:#00203FFF;
    font-family: 'Eczar', serif;
}
.carousel-inner>.item>img{
    width: 100%;
}
.carousel-inner{
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}
.carousel-caption{
    text-align: right;
}
button {
    border-radius: 10px;
    font-size: 20px;
    color:red;
    background-color: white;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
}
button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -25px;
    transition: 0.5s;
}
  
button:hover span {
    padding-right: 25px;
    

}
button:hover span:after {
    opacity: 1;
    right: 0;
}
.coverText{
    color: #00203FFF;
    font-size: 28px;
    text-align: right;
    padding: 10px;
}
.carousel-caption{
    padding-bottom: 0px;
}

.impact-style{
    text-align: center;
    color:#00203FFF;
    font-family: 'Eczar', serif;
    font-size: 40px;
    font-style: italic;
    background-color: #e7e7e7;
    margin: 0 0 3% 0;
}

.impact-centers{
    display: flex;
    background-color: #b1d877;
    margin: 3% 0 3% 0;
    width:100%;
}
.impact-details{
    flex-grow: 1;
    text-align: center;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;
    margin: 5% 2%;
    padding-top: 2%;
}
.impact-text{
    font-size: 24px;
    line-height: 1.4em;
    text-align: center;
    
}


.blue-color{
    color:#1cb8a1;
    font-weight: bold;
    font-family: 'Eczar', serif;
}

#education:hover, #equality:hover, #empowerment:hover, #environment:hover{
    background: #faf0e6 !important;
}

@media only screen and (max-width: 768px){
    .impact-text{
        font-size: 18px;
    }

}
@media only screen and (max-width: 700px){
button{
    font-size: 10px;
    padding: 4px;
    background-color: red;
    color: white;
    border-radius:20px;
}
.impact-centers{
   flex-direction: column;
}
.mainPatronTextStyle{
    flex-direction: column;
}
}
@media screen and (max-width: 1024px){
    .mainHomeTextStyle{
        flex-direction: column;
    }
    #textPic{
        padding: 0 7%; 
        width: 100%;
    }
    .textMentorPicStyle{
        padding: 0 7%; 
        width: 100%;
    }
    .storyImg{
        padding: 7%;
    }
}

/* @property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

div {
  animation: counter 5s infinite alternate ease-in-out;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  padding: 2rem;
}
div::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 100;
  }
} */
