<div>
<h2 id="homeHeader">Overview</h2>
<p>“The best way to find yourself is to lose yourself in the service of others” – Mahatma Gandhi</p>
<br>
<p>Inspired by this ethos, we engage towards achieving an equitable and sustainable future for the
    people and the planet. The catastrophic effects of climate change have been observed and pose a
    great threat to us as well as the next generation due to our reckless exploitation and
    anthropogenic destruction of natural resources.
</p>
<br>
<p>
    Environmental factors are responsible for 24% of all deaths worldwide, while 28% of mortality
    for children under the age of five. This is extremely alarming and immediate action is required to
    restore the ecosystem for human wellbeing. We are working to achieve an equitable and
    sustainable society, targeting every sphere of sustainability: environmental, social and economic.
    However, there is a common misconception that economic progress and environmental
    protection are mutually exclusive. In truth, we must address all three aspects of sustainability at
    the same time. To achieve this, we are embracing education, empowerment, and equality as long-
    term sustainability strategies in order to make our &quot;ONLY HOME&quot; more resilient and healthier.
    </p>
</div>