
<div class="content" role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
       <ol class="carousel-indicators">
      <li data-target="myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="myCarousel" data-slide-to="1"></li>
      <li data-target="myCarousel" data-slide-to="2"></li>
      <li data-target="myCarousel" data-slide-to="3"></li>
      <li data-target="myCarousel" data-slide-to="4"></li>
      <li data-target="myCarousel" data-slide-to="5"></li>
       </ol>
  
      <div class="carousel-inner">
      <div class="item active">
           <img class="rotate-img" src="../../assets/HomeImage/Cover_1_a.jpg" alt="1ST picture">
           <div class="carousel-caption">
                <button><span>Donate</span></button>
           </div>
      </div>
  
      <div class="item">
           <img class="rotate-img" src="../../assets/HomeImage/Cover_4_a.jpg" alt="2ND picture">
           <div class="carousel-caption">
               <button><span>Donate</span></button>
           </div>
      </div>
  
      <div class="item">
          <img class="rotate-img" src="../../assets/HomeImage/Cover_5_a.jpg" alt="3RD picture">
          <div class="carousel-caption">
              <button><span>Donate</span></button>
          </div>
     </div>

     <div class="item">
        <img class="rotate-img" src="../../assets/HomeImage/Cover_6_a.jpg" alt="3RD picture">
        <div class="carousel-caption">
            <button><span>Donate</span></button>
        </div>
   </div>
   <div class="item">
    <img class="rotate-img" src="../../assets/HomeImage/Cover_2_a.jpg" alt="3RD picture">
    <div class="carousel-caption">
        <button><span>Donate</span></button>
    </div>
</div>

      <div class="item">
           <img class="rotate-img" src="../../assets/HomeImage/Cover_7_a.jpg" alt="4th picture">
           <div class="carousel-caption">
               <button><span>Donate</span></button>
           </div>
      </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
        </a>
  
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
        </a>
  </div>
</div>
<div id=mainHomeText>
<h2 class="homeHeader">About Our Story</h2>
<div id ="textPic">
<div class = "col-sm-6">
<p>“The best way to find yourself is to lose yourself in the service of others” – Mahatma Gandhi</p>
<br>
<p>Inspired by this ethos, we engage towards achieving an equitable and sustainable. The irreversible effects of climate change pose a significant threat to all of us due to our uncontrolled exploitation and human-induced destruction of natural resources.
</p>
<br>
<p>
    Environmental degradation-based causes are responsible for 24% of the global deaths, which includes 28% of mortality for children under the age of five. Thus, immediate action from all the stakeholders is required to restore the human well-being ecosystem. We, Vision Prabaho, are working to attain an equitable and sustainable society, targeting each aspect of sustainability: i.e., environmental, social, and economical. However, a common misconception arises every time we talk about sustainability: economic progress and environmental protection can not go hand in hand. In reality, a tread-off must be maintained between the three aspects of sustainability. Our goals towards the synergy include embracing education, empowerment, and equality to make our &quot;ONLY HOME&quot;  healthier and adaptively resilient.
</p>
<br>
<h2 class="visionText">Our Vision</h2>
<p>Flowing towards an impartial and sustainable society // Envisioning a sustainable and unbiased society</p>
</div>
<div class = "col-sm-6">
    <img class="storyImg" alt="home picture 1" src="assets/1.jpg">
    <img class="storyImg" alt="home picture 2" src="assets/2.png">
</div>
</div>
</div>
<div class="impact-style">
impact
</div>
<div class="impact-centers">
    <div class="impact-details">
        <img width="66" style="margin:auto;" src="../../assets/class.jpg" alt="1ST picture">
        <div style="margin:2% 0 0 0">
            <div class="impact-text white-color">8000+</div>
            <div class="impact-text white-color">lives changes</div>
        </div>
    </div>
    <div class="impact-details">
        <img width="66" style="margin:auto;" src="../../assets/disaster.png" alt="1ST picture">
        <div style="margin:2% 0 0 0">
            <div class="impact-text white-color">8000+</div>
            <div class="impact-text white-color">lives changes</div>
        </div>
    </div>
    <div class="impact-details">
        <img width="76" style="margin:auto;" src="../../assets/events.png" alt="1ST picture">
        <div style="margin:2% 0 0 0">
            <div class="impact-text white-color">8000+</div>
            <div class="impact-text white-color">lives changes</div>
        </div>
    </div>
    <div class="impact-details">
        <img width="66" style="margin:auto;" src="../../assets/plant.jpg" alt="1ST picture">
        <div style="margin:2% 0 0 0">
            <div class="impact-text white-color">8000+</div>
            <div class="impact-text white-color">lives changes</div>
        </div>
    </div>
</div>
